.form {
    display: flex;
    justify-content: center;
    margin: 5rem 0;
}

.form form {
    max-width: 80%;
    background-color: #f2f2f2;
    border-radius: 1.2em;
    padding: 2.25rem 4rem;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.295);
}

.btnSubmit {
    width: 10.4rem;
    height: 5rem;
    background-color: #6278F7;
    border-radius: 10px;
    color: #fff;
    font-size: 20px;
    margin-top: 2.2rem;
    border: none;
    cursor: pointer;
}

.btnSubmit:hover {
    filter: brightness(80%);
    transition: filter 150ms ease-in-out;
}

.btnSubmit:not(:hover) {
    filter: brightness(1);
    transition: filter 150ms ease-in-out;
}
