.textField {
    margin: 1.5rem 0;
}

.textField label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 24px;
    font-weight: bold;
}

.textField input {
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 1.5rem;
    box-sizing: border-box;
    color: #000;
}